<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
  <a class="navbar-brand" routerLink="/">OverrideEG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
    <ul class="navbar-nav  ml-auto">
      <ng-template #anonymous>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/login"><i class="fa fa-power-off"> </i> LOGIN</a>
        </li>
      </ng-template>
    <li class="nav-item dropdown" *ngIf="appUser else anonymous" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{appUser.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/panel" *ngIf="appUser.isAdmin">Dashboard</a>
          <a class="dropdown-item" (click)="logout()">LogOut</a>
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>

<router-outlet></router-outlet>
